<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthdays Calendar</title>
</head>

<body>

    <!--A form to submit birthdays-->
    <h1>Add Upcoming Birthdays!</h1>

    <form method="POST" action="add" aria-label="Add birthdays using this form">
        {% csrf_token %}
        {{ form.as_p }}


<!-- A button to submit the birthdays-->
        <div class="buttons">
            <p>
                <button type="submit" aria-label="Click here to submit">Add A Birthday</button>
            </p>
        </div>
    </form>

</body>
</html>