{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit birthdays</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Edit Birthdays!</h1>

    <!--A form to edit birthdays-->
    <form method="POST" aria-label="Edit birthdays in this form.">
        {% csrf_token %} {{ form.as_p }}

        <div class="buttons">
            <p>
                <!--A button for submitting the changes-->
                <button aria-label="Click here to edit and update birthdays." type="submit">Update Birthdays</button>
            </p>
        </div>
    </form>
</body>

</html>